[workspace]
name = "poly-tri"
version = "0.0"
description = "triangolosierer"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[dependencies]
python = ">=3.8"
numpy = "*"
matplotlib = "*"
pytest  = "*"
compilers = "*"
git = "*"
openssl = "*"
pkg-config = "*"
rust-src = "*"
maturin = "*"
rust = "*"
pip = "*"
pylint = "*"

[target.linux.dependencies]
clang = "*"
compilers = "*"
make = "*"

[target.win-64.dependencies]
vs2017_win-64 = "*"

[tasks]
lint = { cmd = "python -m pylint polytri.py || echo 'pylint not installed'" }
build-debug = { cmd = "cd rust && maturin develop --features python" }
build = { cmd = "cd rust && maturin build --release --features python" }
check = { cmd = "cd rust && cargo check" }
test-rust = { cmd = "cd rust && cargo test" }
fmt = { cmd = "cd rust && cargo fmt" }
lint-rust = { cmd = "cd rust && cargo clippy" }
clean = { cmd = "cd rust && cargo clean && rm -rf target/ dist/ *.egg-info" }
test = { cmd = "python -m pytest tests/ || python tests/test.py", depends-on = ["build"]}
speedtest = { cmd = "python tests/speedtest.py", depends-on = ["build"]}

[activation]
env.CARGO_TARGET_DIR = "rust/target/pixi"
env.PYO3_USE_ABI3_FORWARD_COMPATIBILITY = "1"
